@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #331D4C;
  --color-action: #237781;
  --color-mint: #CBEEF3;
  --color-purplebg: #F5F4F6;
  --color-lines: #D9D9D9;
  --color-textdark: #303030;
  --color-accent: #CBDD52;
  --font-sans: var(--font-inter), 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), 'Inter', ui-sans-serif, system-ui, sans-serif;
}
